doctype
html
  head

    link(rel="stylesheet" href="/MyStudentWebsite/blog/main.css")
  body(onresize="doIt()")
    script function doIt() {tag_array = document.getElementsByTagName('p'); for (let i = 0; i < tag_array.length; i++) {tag_array[i].style.padding = window.innerWidth / 6;console.log("changed" + tag_array[i].style.padding);}}
    img(href="https://raw.githubusercontent.com/DavidNeveling/MyStudentWebsite/master/blog/_harp/_data/poopybutt.png")
    if current.source !== "index"
      != partial("_shared/nav")
    != yield
